html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: 50px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  font-size: 18px;
  background: grey;
  color: white;
}
